body {
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
    /* display: flex;
    flex-direction: column; */
    background-color: white;
    padding: 19px;
    border-radius: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

button {
    border: none;
    background-color: violet;
    border-radius: 50%;    
}

img {
    width: 100px;
    height: auto;
}

