body {
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-family: "Comic Sans MS", sans-serif;
}

.container {
    width: 500px;
    height: 370px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 19px;
    border-radius: 20px;
    gap: 25px;
}

.score {
    text-align: end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

button {
    border: none;
    background-color: violet;
    border-radius: 50%;    
}

img {
    width: 100px;
    height: auto;
}

.results {
    text-align: center;
    font-family: cursive, Helvetica, sans-serif;
}




